<form class="max-w-xl" name="contact" method="POST" data-netlify="true">
    <p class="mt-2 py-2">
        <label>Your Name: <input class="cmp-input" type="text" name="name"/></label>
    </p>
    <p class="mt-2 py-2">
        <label>Your Email: <input class="cmp-input" type="email" name="email"/></label>
    </p>
    <p class="mt-2 py-2">
        <label>Message: <textarea class="cmp-input h-40" name="message"></textarea>
        </label>
    </p>
    <div class="mt-2 py-2">
        <div data-netlify-recaptha="true"></div>
    </div>
    <p>
        <button class="cmp-button" type="submit">Send</button>
    </p>
</form>