<footer class="bg-dark text-light font-body p-4 flex flex-col md:items-center">
    <div>Copyright © {% currentYear whatever %} | {{general.site_title}} </div>
    <div><a href="/contact">Contact</a></div>
    {% include "./social-link" %}
    <div class="pt-4"><a href="https://www.evan-harrison.com" class="cmp-link">Web by <span class="underline">Evan</span></a></div>
</footer>