<footer class="bg-black text-white">
    <div>Copyright © {% currentYear whatever %}   |  {{general.site_title}}  |  All Rights Reserved | <a href="/contact">Contact</div>

    <div>Website by
</footer>