<footer class="bg-dark text-light font-body px-4 py-8 flex flex-col items-center">
<div>Copyright © {% currentYear whatever %} | {{general.site_title}} | <a class="mr-4 cmp-link" href="/contact">Contact</a> </div>
    <div class="pt-4 ">
        {% include "./social-links.njk" %}
    </div>
    <div class="pt-4"><a href="https://www.hushspring.com" class="cmp-link">Site by <span class="uppercase underline">Hush Spring</span></a></div>
</footer>