{# 'sr-only' is toggled off when mobile nav is opened. #}
{# did it this way so mobile sr users don't have to toggle the nav; it's just there. #}
<nav class="sr-only w-full z-10 bg-light absolute top-headerHeight md:ml-auto md:static md:not-sr-only md:px-4">

{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) -%}

{% set activeClass %}{% if entry.url == page.url %}cmp-active-link{% endif %}{% endset %}

<li class="{{activeClass}} border-b border-dark border-light md:border-none">
  <a class="cmp-link uppercase font-title block p-6" href="{{ entry.url | url }}">{{ entry.title }}</a>
</li>
{%- endmacro %}

<ul class="flex flex-col w-full md:flex-row md:w-auto shadow-lg md:shadow-none">
  {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>