{# <nav class="font-white">
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav> #}

<nav class="text-white">
{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a class="block p-6" href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul class="flex items-center justify-center">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>