---
layout: container
eleventyNavigation:
  key: Contact
  order: 10
---
<h1 class="cmp-h1">Contact</h1>

{% include "./includes/components/contact-form.njk" %}
<div class="mt-6">
    {% include "./includes/components/social-links.njk" %}
</div>
