---
layout: default
eleventyNavigation:
  key: Events
pagination:
  data: collections.event
  size: 100
  alias: events
---
<h1 class="cmp-h1">Events</h1>

<ul>
{% for event in events %}
 {% now %}
  <li class="border-solid border-black border-b py-4">
    <p class="text-xl">{{event.data.title}}</p>
    <p>{{event.data.date}}</p> 
    <p>{{event.data.location}}</p>
    {% if event.data.description %}
      <p class="block">{{event.data.description}}</p>
    {% endif %}
  </li>
{% endfor %}


</ul>



