---
layout: default
meta_title: my title
meta_description: my desc
body_class: home
title: My Title
---

<h1>Hello World</b>


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>