---
layout: default
---
    {% set hasFeaturedBook = "fart" %}

<div class="kf-fade-in h-screen flex flex-col justify-center items-center z-10">
  <div class="mb-4">
    <h1 class="text-6xl text-center sm:text-8xl leading-none font-title uppercase">{{general.site_title}}</h1>
    {% if general.site_subtitle %}
      <p class="text-center">{{general.site_subtitle}}</p>
    {% endif %}
  </div>
  {% include "components/nav-simple.njk" %} 
</div>
<div class="cmp-cover-image fixed inset-0">
  <img 
    class="cmp-cover-image kf-slight-fade-in" 
    srcset="{% srcset 'media/plant-close.jpg' %}"  
    src="{% src 'media/plant-close.jpg' %}"/>
</div>

{% for book in collections.book | reverse %}
  {% if book.data.title == featured.title and featured.show == true %}
    {% set book = book.data %}
    <div class="max-w-screen-md mx-auto mb-24">
      <h1 class="cmp-h1 text-center">
        {% if featured.subtitle %}<span class="block text-xl pb-4 uppercase">{{featured.subtitle}}</span>{% endif %}
        {{book.title}}
      </h1>
        <div class="flex flex-col md:flex-row">
          <img 
            class="block mx-auto w-full max-w-sm md:pr-4" 
            srcset="{% srcset book.cover %}" 
            src="{% src book.cover %}" 
            alt="The book cover for {{book.title}}"/>
          <div class="flex flex-col items-center">
            <a class="cmp-link-button mt-4 mb-2 w-full max-w-sm fill-current md:mt-0" href="/books/{{book.title | slug}}">Read more <span class="float-right inline-block align-middle w-6 h-6">{% include "./media/icons/chevron-right.svg" %}</span></a>
            {% for purchase_link in book.purchase_links%}
                <a class="cmp-link-button my-2 w-full max-w-sm fill-current" href="{{purchase_link.link}}">Buy at {{purchase_link.source}} <span class="float-right inline-block align-middle w-6 h-6">{% include "./media/icons/chevron-right.svg" %}</span></a>
            {% endfor %}
            {% for blurb in book.blurbs %}
                <div class="my-4">
                    <p class="italic mb-2">"{{blurb.text}}"</p>
                    <p>{{blurb.attribution}}
                </div>
            {% endfor %}
          </div>
        </div>
    </div>
  {% endif %}
{% endfor %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>