---
layout: default
eleventyNavigation:
  key: Posts
pagination:
  data: collections.post
  size: 100
  alias: posts
---

<h1 class="cmp-heading">Posts</h1>
{% for post in posts %}
  <h2>{{ post.data.title }}</h2>
  {{ post.templateContent | safe}}
{% endfor %}
</ol>