---
layout: container
eleventyComputed:
  eleventyNavigation:
    key: "{{titles.posts}}"
    order: 5
pagination:
  data: collections.post
  size: 5
  alias: posts
---

<h1 class="cmp-h1">{{ titles.posts if titles.posts else "News" }}</h1>
  <div>
  {% for post in posts | reverse %}
    <article class="mt-20 first:mt-8">
      <h2 class="cmp-h2">{{ post.data.title }}</h2>
      {% if post.data.date %}
        <p>{{post.data.date | prettyDate}}</p>
      {% endif %}
      <div class="js-click-copy mt-4">
        <button class="flex items-center text-sm">
          <div class="js-copy-icon w-8 h-8 mr-2">{% include "./media/icons/copy.svg" %}</div>
          <div class="js-success-icon w-8 h-8 mr-2 hidden">{% include "./media/icons/checkmark.svg" %}</div> 
          Copy a link to this post
        </button>
      <input type="text" value="https://{{general.site_domain}}/posts/{{post.fileSlug}}" class="hidden"/>
      </div>
      {% if post.data.image %}
        <img class="my-4 mx-auto max-h-lg" loading="lazy" srcset="{% srcset post.data.image %}" src="{% src post.data.image %}" alt=""/>
      {% endif %}
      <div class="cmp-markdown">
        {{ post.templateContent | safe}}
      </div>
      {# TODO macro? includes? social share? #}
    </article>
{% endfor %}
{% include "./includes/components/pagination.njk" %}

</div>
