---
layout: container
eleventyComputed:
  eleventyNavigation:
    key: "{{titles.about}}"
    order: 1
---
<h1 class="cmp-h1">{{ titles.about if titles.about else "About" }}</h1>
<div class="flex flex-col-reverse md:flex-row">
  <div class="cmp-markdown">
      {{ content | safe }}
  </div>
  {% if author_image.file%}
  <figure class="p-2 mb-4 md:w-2/5 md:flex-shrink-0">
      <img alt="" class="w-full" srcset="{% srcset author_image.file %}" src="{% src author_image.file %}">
      {% if author_image.byline %}
        <figcaption class="italic flex justify-end text-sm">{{author_image.byline}}</figcaption>
      {% endif %}
  </figure>
  {% endif %}
</div>


