---
layout: default
eleventyNavigation:
  key: About
---
{% from "../macros/picture.njk" import picture %}

<h1 class="cmp-h1">About</h1>
<div class="cmp-markdown">
  {{ picture(author_image.file, author_image.byline) }}
  {{ content | safe }}
</div>