---
layout: container
eleventyNavigation:
  key: About
  order: 1
---

{{data | log}}
<h1 class="cmp-h1">{{ titles.about if titles.about else "About" }}</h1>
<div class="cmp-markdown">
  {% if author_image.file%}
    <figure class="p-2 md:max-w-md md:float-right">
        <img alt="" srcset="{% srcset author_image.file %}" src="{{author_image.file}}">
        {% if author_image.byline %}
          <figcaption class="italic flex justify-end text-sm">{{author_image.byline}}</figcaption>
        {% endif %}
    </figure>
  {% endif %}
  {{ content | safe }}
</div>

