---
layout: container
---
<div>
    <a href="/books" class="cmp-link flex block pb-8 fill-current">
        <span class="w-6 h-6">{{ "/site/media/icons/chevron-left.svg"| svgContents | safe }}</span> Back to Books
    </a>
    <h1 class="cmp-h1 mb-4">{{title}}</h1>
    <div class="flex flex-col lg:flex-row">
        <img 
            class="block max-w-md w-full mb-6 lg:pr-6" 
            srcset="{% srcset cover %}" 
            src="{{cover}}" 
            alt="The book cover for {{title}}"/>
        <div>
        {% if synopsis%}
            <p class="my-4 first:mt-0">{{synopsis}}</p>
        {% endif %}
        {% for blurb in blurbs %}
            <div class="my-4">
                <p class="italic mb-2">"{{blurb.text}}"</p>
                <p>{{blurb.attribution}}
            </div>
        {% endfor %}
        {% if purchase_link %}
            <a class="cmp-link-button my-4" href="{{purchase_link}}">Click to purchase</a>
        {% endif %}
        </div>
    </div>
</div>

