<!doctype html>
<html class="h-full" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Netlify CMS test</title>
        <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
        {# {% if page.fileSlug === "blog" %}
            <meta name="robots" content="noindex,follow"/>
        {% endif %} #}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ultra&display=swap" rel="stylesheet">      
        {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
        {# include main.css if in development mode #}
        {% if helpers.environment == "development" %}
            <link rel="stylesheet" href="/main.css">
        {% else %}
            {# else, use the minified css file for production #}
            <link rel="stylesheet" href="/main.css">
        {% endif %}

        {# include scripts #}
        {% if helpers.environment == "development" %}
            <script src="/bundle.js" defer="defer"></script>
        {% else %}
            <script src="/bundle.min.js" defer="defer"></script>
        {% endif %}

        {# include social meta tags #}
        {% include "components/social-meta.njk" %}

        <link rel="apple-touch-icon" sizes="180x180" href="/media/site_icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/site_icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/site_icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">

        {# lastly include favicon, fonts, etc #}
        <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

        {# canonical #}
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    </head>

    <body class="text-black h-full">
        {% include "components/skip-to-content.njk" %} 
        {% include "components/header.njk" %}         
        <main id="main" class="mx-auto px-6 mt-6 mb-16 min-h-full max-w-screen-lg">{{ content | safe }}</main>
        {% include "components/back-to-top.njk" %} 
        {% include "components/footer.njk" %} 
    </body>


</html>