---
layout: container
---
<article>
    <h1 class="cmp-h1">{{ title }}</h1>
    {% if date %}
        <p>{{date | prettyDate}}</p>
    {% endif %}
    {% if image %}
        <img 
            class="my-4 w-full" 
            srcset="{% srcset cover_image.file %}" 
            src="{% src cover_image.file %}" 
            alt="{{cover_image.alt}}"/>
    {% endif %}
    <div class="cmp-markdown">
        {{ content | safe}}
    </div>
</article>